h1 {
  display: flex;
  font-size: 4rem;
  background-color: purple;
  justify-content: center;
  align-items: center;
  color: white;
  height: 8rem;
}

#addText-button {
  width: 130px;
  font-size: 2rem;
  padding: 5px;
  color: white;
  background-color: purple;
  border-radius: 5px;
  border: 0px;
  margin-left: 1rem;
}

#inputText {
  width: 30rem;
  font-size: 30px;
  height: 50px;
  padding: 5px;
}

.delete {
  color: red;
}

.favorite {
  color: red;
}

.material-icons:hover {
  cursor: pointer;
}

.add-box {
  display: flex;
}
.list {
  display: flex;
  flex-direction: column;
}
.list-box {
  display: flex;
  border: 1px black solid;

  height: 3rem;
  font-size: 2rem;
  margin-top: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
