h1 {
  font-size: 50px;
  background-color: purple;
  text-align: center;
}

#addText-button {
  width: 130px;
  font-size: 30px;
  padding: 5px;
  color: white;
  background-color: purple;
  border-radius: 5px;
  border: 0px;
}

#inputText {
  width: 500px;
  font-size: 30px;
  height: 50px;
  padding: 5px;
}

.delete {
  color: red;
}

.favorite {
  color: gray;
}

.material-icons:hover {
  cursor: pointer;
}

.list-box {
  display: flex;
  border: 1px black solid;
  width: 680px;
  height: 50px;
  font-size: 30px;
  margin-top: 5px;
  padding: 10px;
  justify-content: space-between;
}
